
  <div class="card">
    <h3>Forgot your password?</h3>
    <p>Hey {{name}}, we received a request for a password change on your ClickToBuy account.</p>
    <p>Create a new password by clicking the button below. This link will expire within the next hour.
</p>
    <a href="{{url}}" class="reset-link">Reset Password</a>
    <small>
This is an automated email. If you received it by mistake, you don’t need to do anything. For more info, <a href="mailto:takanomedev221@gmail.com">contact us</a></small>
  </div>