<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            cyan: '#02c5f5',
            teal: '#92fe9e',
          }
        }
      }
    }
  </script>
  <title>Password Reset Email</title>
</head>
<body class="bg-gradient-to-r from-cyan to-teal flex justify-center items-center">
  <div class="bg-white rounded-lg w-20 h-full p-8">
    <p>Hey {{name}}, hope you are doing well.</p>
    <p>click the following link to reset your password:</p>
    <a href="{{url}}">Reset Password</a>
    <p>Best,</p>
    <strong>TAKANOME DEV</strong>
  </div>
</body>
</html>